<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="icon" href="favicon.ico" />

    <title>Smart Farming</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link th:href="@{css/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{css/alert.css}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link th:href="@{css/paper-dashboard.css}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link th:href="@{css/demo.css}" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link th:href="@{css/themify-icons.css}" rel="stylesheet">
    <script type="text/javascript">
        function getLonLat(){
            navigator.geolocation.getCurrentPosition(success, error);
            function success(position){
                latitude = position.coords.latitude;

                longitude = position.coords.longitude;
                window.location ="/getLocation?" + "lat="+ latitude + "&lon=" + longitude;
            }

        }


        function error() {
            location.innerHTML = "Unable to retrieve your location";
        }
    </script>
</head>
<body>

<div class="wrapper">
	<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a th:href="@{/dashboard}" class="simple-text">
                   Smart Farming
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a th:href="@{/dashboard}">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/user}">
                        <i class="ti-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li class="active">
                    <a th:href="@{/decision}">
                        <i class="ti-view-list-alt"></i>
                        <p>Decide Crop</p>
                    </a>
                </li>
                <!--<li>
                    <a href="typography.html">
                        <i class="ti-text"></i>
                        <p>Typography</p>
                    </a>
                </li>
                <li>
                    <a href="icons.html">
                        <i class="ti-pencil-alt2"></i>
                        <p>Icons</p>
                    </a>
                </li>-->
                <li>
                    <a href="maps.html">
                        <i class="ti-map"></i>
                        <p>Maps</p>
                    </a>
                </li>
                <!--<li>
                    <a href="notifications.html">
                        <i class="ti-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
				<li class="active-pro">
                    <a href="upgrade.html">
                        <i class="ti-export"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>-->
            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Table List</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p>Stats</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">5</p>
									<p>Notifications</p>
									<b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>-->
						<li>
                            <a th:href="@{/login}">
								<i class="ti-settings"></i>
								<p>Logout</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <form autocomplete="off" action="#" th:action="@{/decision}"
              th:object="${decision}" method="post" class="m-t" role="form"
              data-toggle="validator">

            <div th:if="${alreadyRegisteredMessage}"
                 class="alert alert-danger" role="alert"
                 th:text="${alreadyRegisteredMessage}"></div>

            <div class="hover_bkgr_fricc">
                <span class="helper"></span>
                <div>
                    <div class="popupCloseButton">X</div>
                    <p th:text="${confirmationMessage}"></p>
                    <script type="text/javascript">
                        $(window).load(function () {
                            $(".trigger_popup_fricc").click(function(){
                                $('.hover_bkgr_fricc').show();
                            });
                            $('.hover_bkgr_fricc').click(function(){
                                $('.hover_bkgr_fricc').hide();
                            });
                            $('.popupCloseButton').click(function(){
                                $('.hover_bkgr_fricc').hide();
                            });
                        });
                    </script>
                </div>
            </div>
        <div class="content">
            <div class="container-fluid">
                <div clas="row">
                    <div class="col-lg col-md">
                        <div th:if="${confirmCropName != null}" class="card">
                            <div class="header">
                                <b><h4 class="title" th:text="${result}"></h4></b>
                            </div>
                            <div class="content">
                                <ul>
                                    <li th:each="item: ${confirmCropName}" th:text="${item}" ></li>
                                    <ul>
                                        You can start planning to grow crop in the month of
                                        <li th:if="${confirmStartMonth}" th:text="${confirmStartMonth}"></li>
                                        This crop needs to be harvested by the month of
                                        <li th:if="${confirmEndMonth}" th:text="${confirmEndMonth}"></li>
                                    </ul>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg col-md">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Make Decision</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Season</label>
                                                <!--<input type="" class="form-control border-input" placeholder="soiltpye" value="Alluvial">-->
                                                <select  class="form-control border-input" id="cropType" name="cropType">
                                                    <option  th:value="none"></option>
                                                    <option th:each="cropType : ${seasons}" th:value="${cropType}" th:text="${cropType}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Soil Type</label>
                                                <!--<input type="" class="form-control border-input" placeholder="soiltpye" value="Alluvial">-->
                                                <select  class="form-control border-input" id="soilName" name="soilName">
                                                <option th:each="soilName : ${soilTypes}" th:value="${soilName}" th:text="${soilName}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Avg Annual Rainfall</label>
                                                <select  class="form-control border-input" id="avgRainfall" name="avgRainfall">
                                                    <option value="20- 40" th:value="40" >20- 40cm</option>
                                                    <option value="40- 50" th:value="50">40- 50cm</option>
                                                    <option value="50- 100" th:value="100">50- 100cm</option>
                                                    <option value="100- 150" th:value="150">100- 150cm</option>
                                                    <option value="150- 250" th:value="250">150- 250cm</option>
                                                    <option value="Over 250" th:value="300">Over 250cm</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Avg Annual Temperature</label>
                                                <select  class="form-control border-input" id="avgTemperature" name="avgTemperature">
                                                    <option th:value="-1" value="none"></option>
                                                    <option value="20.0" th:value="20.0" >Below 20</option>
                                                    <option value="22.5" th:value="22.5">20.0- 22.5</option>
                                                    <option value="25.0" th:value="25">22.5- 25.0</option>
                                                    <option value="27.5" th:value="150">25.0- 27.5</option>
                                                    <option value="Above 27.5" th:value="30.0">Above 27.5</option>
                                                </select>
                                            </div>
                                        </div>
                                       <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Sunshine Hours</label>
                                                <input type="text" class="form-control border-input" placeholder="sunshin hours" value="7hrs">
                                            </div>
                                        </div>-->
                                        <!--<div class="col-md-3">
                                            <div class="form-group">
                                                <label>Season</label>
                                                <input type="text" class="form-control border-input" placeholder="Season" value="Monsoon">
                                            </div>
                                        </div>-->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Soil pH</label>
                                                <select  class="form-control border-input" id="pH" name="pH">
                                                    <option  th:value="-1"></option>
                                                    <option value="4.6" th:value="4.6" ><4.6 Extremely Acid</option>
                                                    <option value="5.5" th:value="5.5">4.6- 5.5 Strongly Acid</option>
                                                    <option value="6.5" th:value="25">5.6- 6.5 Moderately acid</option>
                                                    <option value="6.9" th:value="150">6.6- 6.9 Slightly acid</option>
                                                    <option value="7" th:value="30.0">7 Neutral</option>
                                                    <option value="7.1" th:value="30.0">7.1- 8.5 Moderately alkaline</option>
                                                    <option value="8.5" th:value="30.0">>8.5 Alkaline</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Electrical Conductivity EC</label>
                                                <select  class="form-control border-input" id="ec" name="ec">
                                                    <option  th:value="-1"></option>
                                                    <option value="0" th:value="0" >0- 2 Salt free</option>
                                                    <option value="4" th:value="5.5">4- 8 Slightly saline</option>
                                                    <option value="8" th:value="25">8- 15 Moderately saline</option>
                                                    <option value="15" th:value="150"><15 Highly saline</option>

                                                </select>
                                            </div>
                                        </div>
                                        <!--<div class="col-md-2">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control border-input" placeholder="Last Name" value="Faker">
                                            </div>
                                        </div>-->
                                    </div>

                                    <div class="row">
                                        <!--<div class="col-md-12">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control border-input" placeholder="Home Address" value="Melbourne, Australia">
                                            </div>
                                        </div>-->
                                    </div>

                                    <div class="row">
                                       <!-- <div class="col-md-4">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control border-input" placeholder="City" value="Melbourne">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input type="text" class="form-control border-input" placeholder="Country" value="Australia">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Postal Code</label>
                                                <input type="number" class="form-control border-input" placeholder="ZIP Code">
                                            </div>
                                        </div>-->
                                    </div>

                                    <div class="row">
                                        <!--<div class="col-md-12">
                                            <div class="form-group">
                                                <label>About Me</label>
                                                <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="Mike">Oh so, your weak rhyme
You doubt I'll bother, reading into it
I'll probably won't, left to my own devices
But that's the difference in our opinions.</textarea>
                                            </div>
                                        </div>-->
                                    </div>
                                    <div class="text-center">
                                       <button type="submit" class="btn btn-info btn-fill btn-wd">Check</button>
                                    </div>
                                    <script type="text/javascript">

                                        navigator.geolocation.getCurrentPosition(success);
                                        function success(position){
                                            document.getElementsByName("latitude")[0].value = position.coords.latitude;
                                            document.getElementsByName("longitude")[0].value = position.coords.longitude;
                                        }

                                    </script>

                                    <input type="hidden" id="latitude" name="latitude" >
                                    <input type="hidden" id="longitude" name="longitude">
                                   <!-- <div class="clearfix"></div>-->
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        </form>

       <!-- <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="http://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="http://www.creative-tim.com/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
				<div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>
-->

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script th:src="@{js/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{js/bootstrap.min.js}" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script th:src="@{js/bootstrap-checkbox-radio.js}"></script>

	<!--  Charts Plugin -->
	<script th:src="@{js/chartist.min.js}"></script>

    <!--  Notifications Plugin    -->
    <script th:src="@{js/bootstrap-notify.js}"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script th:src="@{js/paper-dashboard.js}"></script>

	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script th:src="@{js/demo.js}"></script>


</html>
